

.list_box{
    margin: 0;
    margin-top: 20px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    left: 50%;



    transform: translateX(-50%);
}

.list_innerbox{
    position: relative;
    
    width: 17%;
}   

.list_innerbox_img {
    position: relative;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
} 

.list_innerbox p {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    height: 21.6px;
    font-weight: 700;
    
    overflow: hidden;
}

.pagination{
    position: absolute;
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    left: 50%;
    transform: translateX(-50%);
}

.button{
    position: relative;
    border: 0;
    box-sizing: border-box;
    width: 30px;
    height: 20px;
    background-color: aquamarine;
}
.button:hover{
    cursor: pointer;
}

.back_button{


}

.next_button{

}

p {
    margin: 0;
}